<ng-container *ngIf="helperDisplayData">
  <div class="helperDataContainer">
    <div class="headerContainer">
      <mat-card class="matCardContainer">
        <div class="helperContainer">
          <div class="leftContainer">
            <mat-card-header class="matCardHeader">
              <div mat-card-avatar class="helperImage" [ngStyle]="{
                'background-image': 'url(' + this.helperHeaderInfo.helperImage + ')',
                'background-size': 'cover',
                'background-position': 'center'
              }">

              </div>
              <mat-card-title class="helperName">{{
              helperHeaderInfo.helperName
            }}</mat-card-title>
              <mat-card-subtitle class="helperSubtitle">{{
              helperHeaderInfo.helperSubtitle
            }}</mat-card-subtitle>
            </mat-card-header>
          </div>
          <div class="rightContainer" *ngIf="helperDisplayData.context === 'admin' && helperDisplayData.data">
            <a [routerLink]="['./edit-helper', helperDisplayData.data?._id]">
              <div class="iconContainer">
                <span class="material-symbols-outlined">edit</span>
              </div>
            </a>
            <div class="iconContainer" (click)="deleteHelper(helperDisplayData.data._id)">
              <span class="material-symbols-outlined" style="font-size: 18px;">delete</span>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="headerDetailsContainer">
      <div>
        <ng-container *ngFor="let section of helperSections">
          <div class="detailsContainer">
            <span class="heading">{{ section.sectionTitle }}</span>
            <hr />
          </div>
          <div class="detailsContainer detailsPropertyContainer" *ngFor="let sectionLabel of section.fields">
            <span class="helperProperty">
              {{ sectionLabel.label }}
            </span>
            <span class="helperPropertyValue">
              <span class="helperPropertyValue">
                <ng-container *ngIf="isDataIsValidUrl(sectionLabel.data); else plainText">
                  <a [href]="sectionLabel.data" target="_blank">
                    <span class="material-symbols-outlined visibility-view-icon">visibility</span>
                    View
                  </a>
                </ng-container>

                <ng-template #plainText>
                  {{ sectionLabel.data }}
                </ng-template>
              </span>

            </span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
