:root {
  --dashboard-view-width: 15vw;
  --module-view-width: 85vw;
  --addhelper-stages-view-width: 20vw;
  --addhelper-stages-background-color: #eceff5;
  --addhelper-form-view-width: 65vw;
  --addhelper-stages-form-container--height: 85vh;
  --edithelper-stages-view-width: 20vw;
  --edithelper-stages-background-color: #dfdfdf;
  --edithelper-form-view-width: 65vw;
  --edithelper-stages-form-container--height: 85vh;
  --dashboard-backgroundcolor: #e2e9ee;
  --dashboard-asbl-logo: rgb(109, 109, 228);
  --dashboard-treeview-child-background-color: #d5e1fb;
  --dashboard-treeview-child-selected-hover-color: #687ced;
  --dashboard-treeview-child-hover-background-color: lightgray;
  --helperslist-container-selected-background-color: #dce6fd;
  --helperslist-container-hover-background-color: #f5f5f5;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Toast Global CSS Custom Confiuration */
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  align-items: center !important;
  padding: 5px 5px 5px 35px;
  width: 250px;
  border-radius: 3px;
  border: 1px solid lightgray;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  color: black;
  background-color: white;
}
.toast-container .ngx-toastr:hover {
  cursor: pointer;
}
.toast-container.toast-close-button:hover:focus {
  color: black !important;
  cursor: pointer;
  pointer-events: auto;
}
.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}
.toast-title {
  font-size: 14px;
  margin-top: 5px;
}
.toast-message {
  word-wrap: break-word;
}
.toast-close-button {
  position: relative;
  right: -0.2em;
  top: -0.2em;
  color: slategray !important;
  margin-top: 5px;
  text-decoration: none;
  float: right;
  cursor: pointer;
  font-size: 25px;
  margin-right: 10px;
  background: transparent;
  border: 0;
  padding: 0;
}
.toast-success {
  color: #51a351 !important;
  background-color: white !important;
  background-image: url("https://res.cloudinary.com/karthikvarma/image/upload/v1755636281/inn-assignement/helpers/assets/toast-tomoto-success_gk1fwl.png");
  background-size: 16px 16px !important;
  background-repeat: no-repeat !important;
  background-position: 16px center !important;
}
.toast-error {
  color: #bd362f !important;
  background-color: white !important;
  background-image: url("https://res.cloudinary.com/karthikvarma/image/upload/v1755636281/inn-assignement/helpers/assets/toast-tomoto-failure_mlbewt.png");
  background-size: 16px 16px !important;
  background-repeat: no-repeat !important;
  background-position: 16px center !important;
}
.toast-info {
  color: #1e5eb8 !important;
  background-color: white !important;
  background-image: url("https://res.cloudinary.com/karthikvarma/image/upload/v1755636281/inn-assignement/helpers/assets/toast-info_ls05pm.png");
  background-size: 16px 16px !important;
  background-repeat: no-repeat !important;
  background-position: 16px center !important;
}
.toast-warning {
  color: #e41111 !important;
  background-color: white !important;
  background-image: url("https://res.cloudinary.com/karthikvarma/image/upload/v1755638825/inn-assignement/helpers/assets/toast-warning_fcnfmy.jpg");
  background-size: 16px 16px !important;
  background-repeat: no-repeat !important;
  background-position: 16px center !important;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}
