:root {
  --dashboard-view-width: 15vw;
  --module-view-width: 75vw;


  --addhelper-stages-view-width: 20vw;
  --addhelper-stages-background-color: #daede9;
  --addhelper-form-view-width: 65vw;
  --addhelper-stages-form-container--height: 85vh;

  --edithelper-stages-view-width: 20vw;
  --edithelper-stages-background-color: #dfdfdf;
  --edithelper-form-view-width: 65vw;
  --edithelper-stages-form-container--height: 85vh;



  --dashboard-backgroundcolor: #e2e9ee;
  --dashboard-asbl-logo: rgb(109, 109, 228);
  
  --dashboard-treeview-child-background-color: #d5e1fb;

  --dashboard-treeview-child-selected-hover-color: #687ced;
  --dashboard-treeview-child-hover-background-color: lightgray;

  --helperslist-container-selected-background-color: #dce6fd;
  --helperslist-container-hover-background-color: #f5f5f5;
  
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
