.main-container {
  text-align: center;
  align-items: center;
  font-family: Arial, sans-serif;
  margin-top: 10%;
  .image-404 {
    height: 400px;
    width: 400px;
  }
  .goback-button {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 10px;
  }
}
