<div class="add-helper-main-container">
  <!-- Navbar -->
  <div class="add-helper-navbar-container">
    <header>
      <div class="headingContainer">
        <div class="heading-left-container">
          <a class="material-symbols-outlined heading-icons" [routerLink]="'/dashboard/staff-management/helpers'">
            chevron_left
          </a>
          <h1 class="headingName">Add Helper</h1>
        </div>
        <span class="material-symbols-outlined heading-icons">more_vert</span>
      </div>
      <hr class="headingHortizantalRule" />
    </header>
  </div>
  <!-- Body -->
  <div class="add-helper-body-container">
    <!-- Stages -->
    <div class="add-helper-stages-container">
      <div class="stage-stepper">
        <div [ngClass]="
            currentStageOfAddingHelper > 1
              ? 'stage-dot-complete'
              : 'stage-dot-incomplete'
          ">
          <span *ngIf="currentStageOfAddingHelper > 1" class="material-symbols-outlined">
            check
          </span>
        </div>
        <div [ngClass]="
            currentStageOfAddingHelper > 1
              ? 'stage-line-complete'
              : 'stage-line-incomplete'
          "></div>

        <div [ngClass]="
            currentStageOfAddingHelper > 2
              ? 'stage-dot-complete'
              : 'stage-dot-incomplete'
          ">
          <span *ngIf="currentStageOfAddingHelper > 2" class="material-symbols-outlined">
            check
          </span>
        </div>
        <div [ngClass]="
            currentStageOfAddingHelper > 2
              ? 'stage-line-complete'
              : 'stage-line-incomplete'
          "></div>

        <div [ngClass]="
            currentStageOfAddingHelper === finalStageOfAddingHelper
              ? 'stage-dot-complete'
              : 'stage-dot-incomplete'
          " class="stage-dot-incomplete">
        </div>
      </div>
      <div class="stages-container">
        <div class="stage-container">
          <h4 class="stage-heading">Helper Details</h4>
          <p class="stage-description">Add helper details</p>
        </div>
        <div class="stage-container">
          <h4 class="stage-heading">Documents</h4>
          <p class="stage-description">Upload related documents</p>
        </div>
        <div class="stage-container">
          <h4 class="stage-heading">Review</h4>
          <p class="stage-description">Check the information and confirm</p>
        </div>
      </div>
    </div>
    <!-- Form Container -->
    <div class="add-helper-form-container">
      <div *ngIf="currentStageOfAddingHelper === 1">
        <app-helperform [helperData]="helperData" [buttonClicked]="buttonClicked"
          (helperFormDataStageOne)="handleStageOneHelperFormData($event)"></app-helperform>
      </div>
      <!-- Stage - 2  -->
      <div *ngIf="currentStageOfAddingHelper === 2">
        <h1 class="form-heading">Additional Documents</h1>
        <p class="form-description">
          Upload related documents. This step is optinal.
        </p>
        <div class="kyc-document-upload-container">
          <div class="kyc-document-upload-icon-container">
            <span class="material-symbols-outlined">add</span>
          </div>
        </div>
      </div>
      <!-- Stage 3 -->
      <div *ngIf="currentStageOfAddingHelper === 3">
        <div class="add-helper-final-stage-preview-container">
          <app-helperdata [helperDisplayData]="helperPresentationData"></app-helperdata>
        </div>
      </div>

      <!-- Footer Container -->
      <hr class="add-helper-footer-horizontal-divider" />
      <div class="add-helper-footer-button-container">
        <ng-container>
          <button *ngIf="currentStageOfAddingHelper > 1 && !addHelperButtonClicked"
            (click)="goToPreviousStageOfAddingHelper()" class="previousButton">
            <span class="material-symbols-outlined">chevron_left</span>
            Previous
          </button>
        </ng-container>
        <ng-container>
          <button type="submit" *ngIf="currentStageOfAddingHelper < finalStageOfAddingHelper"
            (click)="goToNextStageOfAddingHelper()" class="nextButton">
            Next
            <span class="material-symbols-outlined">chevron_right</span>
          </button>
          <button *ngIf="currentStageOfAddingHelper === finalStageOfAddingHelper"
            class="add-helper-final-stage-submit-button" [disabled]="addHelperButtonClicked"
            (click)="createHelperUtil()">
            <ng-container *ngIf="!addHelperButtonClicked">
              <span class="material-symbols-outlined">add</span>
              Add Helper
            </ng-container>
            <ng-container *ngIf="addHelperButtonClicked">
              <div class="loader"></div>
            </ng-container>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
