<div class="add-helper-main-container">
  <!-- Navbar -->
  <div class="add-helper-navbar-container">
    <div>
      <h2 class="heading">
        <span class="material-symbols-outlined">&lt;</span>
        Add Helper
      </h2>
      <span class="material-symbols-outlined">more_vert</span>
    </div>
    <hr />
  </div>
  <!-- Body -->
  <div class="add-helper-body-container">
    <!-- Stages -->
    <div class="add-helper-stages-container"></div>
    <!-- Form Container -->
    <div class="add-helper-form-container">
      <h1 class="form-heading">Helper Details</h1>
      <p class="form-description">
        Track, Add & Manage all your helpers at one place
      </p>
      <div class="photo-upload-icon-container">
        <span class="material-symbols-outlined">cloud_upload</span>
        <p>Upload Photo</p>
      </div>
      <span class="photo-upload-description"
        >Upload photo (.png, .jpeg) size 5mb</span
      >
      <!-- Type of Service -->
      <div class="type-of-service-container field-container">
        <label>Type of Service*</label>
        <div>
          <mat-form-field class="type-of-service-form-field form-container">
            <input
              type="text"
              placeholder="Select Type of Service"
              aria-label="Type of Service"
              matInput
              [formControl]="selectTypeOfServiceControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              @for (option of selectTypeOfServiceFilteredOptions | async; track
              option.fieldName) {

              <mat-option [value]="option.fieldName">
                <span class="material-symbols-outlined">
                  {{ option.fieldIcon }}
                </span>
                {{ option.fieldName }}</mat-option
              >
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <!-- Organization Name -->
      <div class="field-container">
        <label>Organization Name*</label>
        <div>
          <mat-form-field class="form-container">
            <input
              type="text"
              placeholder="Organization Name"
              aria-label="Organization Name"
              matInput
              [formControl]="organizationNameControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              @for (option of organizationNameFilteredOptions | async; track
              option) {
              <mat-option [value]="option"> {{ option }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <!-- Full Name -->
      <div class="field-container">
        <label>Full Name*</label>
        <mat-form-field class="form-container">
          <input matInput placeholder="TG01AB1234" value="" />
        </mat-form-field>
      </div>
      <!-- Languages -->
      <div class="field-container">
        <label>Languages*</label>
        <mat-form-field class="form-container">
          <mat-select [formControl]="toppings" multiple>
            <mat-select-trigger>
              {{toppings.value?.[0] || ''}}
              @if ((toppings.value?.length || 0) > 1) {
              <span class="example-additional-selection">
                (+{{ (toppings.value?.length || 0) - 1 }}
                {{ toppings.value?.length === 2 ? "other" : "others" }})
              </span>
              }
            </mat-select-trigger>
            @for (topping of toppingList; track topping) {
            <mat-option [value]="topping">{{ topping }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Gender -->
      <div class="field-container">
        <label>Gender*</label>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
          <mat-radio-button value="other">Other</mat-radio-button>
        </mat-radio-group>
      </div>
      <!-- Phone -->
      <div class="field-container">
        <label>Phone*</label>
        <mat-form-field class="form-container">
          <input matInput placeholder="TG01AB1234" value="" />
        </mat-form-field>
      </div>
      <!-- Email -->
      <div class="field-container">
        <label>Email</label>
        <mat-form-field class="form-container">
          <input matInput placeholder="example@abc.com" value="" />
        </mat-form-field>
      </div>
      <!-- Choose Vehicle Type -->
      <div class="field-container">
        <label>Choose Vehicle Type</label>
        <div>
          <mat-form-field class="type-of-service-form-field form-container">
            <input
              type="text"
              placeholder="Pick one"
              aria-label="Number"
              matInput
              [formControl]="selectTypeOfServiceControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              @for (option of selectTypeOfServiceFilteredOptions | async; track
              option.fieldName) {

              <mat-option [value]="option.fieldName">
                <span class="material-symbols-outlined">
                  {{ option.fieldIcon }}
                </span>
                {{ option.fieldName }}</mat-option
              >
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <!-- Vehicle Number -->
      <div class="field-container">
        <label>Vehicle Number*</label>
        <mat-form-field class="example-full-width form-container">
          <input matInput placeholder="TG01AB1234" value="" />
        </mat-form-field>
      </div>
      <!-- KYC Document -->29/07/29/07
      <div class="field-container">
        <label>KYC Document*</label>
        <div class="kyc-document-upload-container">
          <div class="kyc-document-upload-icon-container">
            <span class="material-symbols-outlined">add</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
