

@layer reset, primeng;
.appContainer {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    scrollbar-width: none;
    .appBodyContainer {
        width: calc(100vw - 240px);
    }
}