<form [formGroup]="kycDocumentForm" *ngIf="kycDocumentForm">
  <hr class="add-helper-footer-horizontal-divider" />
  <div class="kycBodyContainer">
    <!-- Choose Document Type -->
    <div class="field-container">
      <label for="document-type-label">Select Document Type<span class="asterisk">*</span></label>
      <div>
        <ng-select class="custom" [items]="documentTypeOptions" bindLabel="label" bindValue="value"
          formControlName="documentType" [searchable]="false" [clearable]="false" placeholder="Document Type"
          labelForId="document-type-label" #documentTypeSelect>
        </ng-select>
        <div *ngIf="
            kycDocumentForm.get('documentType')?.invalid &&
            (kycDocumentForm.get('documentType')?.dirty ||
              kycDocumentForm.get('documentType')?.touched)
          " class="alert-error-message">
          <span *ngIf="kycDocumentForm.get('documentType')?.errors?.['required']">Document Type is required.</span>
        </div>
      </div>
    </div>
    <!-- <input type="file" accept="application/pdf" (change)="onFileSelected($event)" /> -->
    <!-- <div *ngIf="pdfSrc">
        <embed [src]="pdfSrc" width="100%" height="600px" type="application/pdf" />
      </div> -->
    <!-- KYC Document -->
    <div class="field-container">
      <span>Please ensure both sides of the document are uploaded.<span class="asterisk">*</span></span>
      <div class="kyc-document-upload-container">
        <div class="kyc-document-upload-icon-container">
          <div class="upload-box" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
            (drop)="onFileDropped($event)" [class.dragging]="isDragging">
            <label for="kyc-document-label">
              <span class="material-symbols-outlined cloud-upload">cloud_upload</span>
              <br />
              <span class="cloud-upload-description">Click to upload <span class="normal">or drag and drop</span></span>
            </label>
            <input type="file" accept="application/pdf" (change)="onFileSelected($event)" style="display: none"
              id="kyc-document-label">
          </div>
        </div>
      </div>
      <div *ngIf="
            kycDocumentForm.get('pdfFileUrl')?.invalid &&
            (kycDocumentForm.get('pdfFileUrl')?.dirty ||
              kycDocumentForm.get('pdfFileUrl')?.touched)
          " class="alert-error-message">
        <span *ngIf="kycDocumentForm.get('pdfFileUrl')?.errors?.['required']">PDF File is required.</span>
      </div>
    </div>
    <div class="file-uploaded-container" *ngIf="kycDocumentDetails.base64 !== ''">
      <div class="file-uploaded-left-container">
        <img src="../../../../../assets/pdf-icon.png" alt="PDF" height="30" width="30">
        <p class="file-uploaded-file-name">{{kycDocumentDetails.fileName}}</p>
        <span *ngIf="!kycDocumentViewClicked" (click)="kycDocumentViewClicked = true"
          class="material-symbols-outlined view-button-icon">visibility</span>
        <span *ngIf="kycDocumentViewClicked" class="material-symbols-outlined view-button-icon"
          (click)="kycDocumentViewClicked = false">visibility_off</span>
      </div>
      <div (click)="deleteUploadedkycDocument()">
        <span class="material-symbols-outlined delete-button-icon">delete</span>
      </div>
    </div>
    <ng-container *ngIf="kycDocumentViewClicked === true">
      <ngx-extended-pdf-viewer [base64Src]="pdfData" backgroundColor="#ffffff" [height]="'auto'" [handTool]="false"
        [showHandToolButton]="false" [showDownloadButton]="false" [showPrintButton]="false"
        [showPresentationModeButton]="true" [showOpenFileButton]="false">
      </ngx-extended-pdf-viewer>
    </ng-container>
  </div>
  <!-- Footer Container -->
  <div class="footer-button-container">
    <hr class="add-helper-footer-horizontal-divider" />
    <div class="add-helper-footer-button-container">
      <ng-container>
        <button class="cancel-button" (click)="clearThekycDocument()">
          Cancel
        </button>
      </ng-container>
      <ng-container>
        <button type="submit" class="save-button" (click)="saveThekycDocument($event)">
          Save
        </button>
      </ng-container>
    </div>
  </div>
</form>
