<div class="dashboardContainer">
  <div class="companyLogoContainer">
    <div>
      <img
        src="../../../assets/asbl_homes_logo.png"
        alt="asbl"
        class="abslHomesLogo"
      />
    </div>
    <div class="companyDetails">
      <h1 class="companyTitle">Manage</h1>
      <p class="companySubTitle">by ASBL Homes</p>
    </div>
  </div>
  <div class="iconContainer iconSearchContainer">
    <div class="searchContainer">
      <div class="searchIcon">
        <lucide-icon
          name="search"
          [img]="Search"
          [size]="15"
          [strokeWidth]="2"
        ></lucide-icon>
      </div>
      <div class="searchInputContainer">
        <input type="text" placeholder="Search" [(ngModel)]="searchText" />
      </div>
      <div class="searchIcon" *ngIf="searchText" (click)="removeSearchText()">
        <lucide-icon
          name="x"
          [img]="X"
          [size]="15"
          [strokeWidth]="2"
        ></lucide-icon>
      </div>
    </div>
  </div>
  <div class="redBanner">
        <p>{{appEnvironment}}</p>
  </div>
  <!-- Tree View -->
  <div class="treeView">
    <ng-container *ngFor="let t of dashboard">
    <div class="headingContainer" (click)="toggleChildContainer(t)">
        <lucide-icon name="chevron-up" 
        [img]="!isItemDisabled(t)?ChevronUp:ChevronRight"
        [size]="15"
        [strokeWidth]="2">
      </lucide-icon>
      <h5>
          {{t.heading}}
      </h5>
    </div>
    <ng-container *ngIf="!isItemDisabled(t)">
    <div *ngFor="let c of t.childs" class="childContainer">
      <a [routerLink]="['dashboard', t.heading.split(' ').join('-').toLowerCase(), c.name.split(' ').join('-').toLowerCase()]">
        
        <p>
          <span class="material-symbols-outlined">{{c.icon}}</span>
          {{c.name}}</p>
      </a>
    </div>
    </ng-container>
  </ng-container>
  </div>
  <!-- User Data Container -->
  <div class="userDataContainer">
    <mat-card class="matCardContainer">
      <div class="helperContainer">
        <div class="leftContainer">
          <mat-card-header class="matCardHeader">
            <div mat-card-avatar class="helperImage"
              [ngStyle]="{'background-image': 'url(' + '' + ')', 'background-size': 'cover', 'background-position': 'center'}">
            </div>
            <mat-card-title class="helperName">Karthik</mat-card-title>
            <mat-card-subtitle class="helperSubtitle">SDE Intern</mat-card-subtitle>
          </mat-card-header>
        </div>
        <div class="rightContainer">
          <p class="rightIcon">
            <lucide-icon name="chevron-right" [img]="ChevronRight"
        [size]="15"
        [strokeWidth]="2"></lucide-icon>
          </p>
        </div>
      </div>
    </mat-card>
  </div>
</div>

