.dashboardContainer {
  padding: 10px;
  width: var(--dashboard-view-width);
  background-color: var(--dashboard-backgroundcolor);
  height: 95vh;
  overflow: hidden;

  .companyLogoContainer {
    display: flex;
    flex-direction: row;
    cursor: pointer;

    .abslHomesLogo {
      height: 50px;
      width: 50px;
      background-color: var(--dashboard-asbl-logo);
      border-radius: 50%;
    }

    .companyDetails {
      padding-left: 10px;

      .companyTitle {
        font-family: Tahoma, sans-serif;
      }

      .companySubTitle {
        margin-top: -20px;
        font-size: small;
      }
    }
  }

  .redBanner {
    background-color: #ff4500;
    position: absolute;
    height: 20px;
    width: 200px;
    transform: rotate(320deg);
    margin-top: -130px;
    margin-left: -45px;

    @media (max-width: 1000px) {
      margin-top: -145px;
      margin-left: -50px;
    }

    p {
      color: white;
      font-size: medium;
      font-weight: bold;
      padding-left: 48px;
    }
  }
}

.iconContainer {
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: white;

  .searchIconContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .searchInputContainer {
      margin-top: -3px;
      input {
        border: none;
        outline: none;
        width: 95%;
        padding-left: 10px;
      }
    }
  }
}

.iconSearchContainer {
  width: auto;
}

.treeView {
  overflow-y: auto;
  height: 90vh;
  scrollbar-color: #ececec;
  scrollbar-width: thin;
  margin-left: 10px;

  .headingContainer {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    color: gray;
    padding-top: 10px;

    lucide-icon {
      cursor: pointer;
    }

    h5 {
      margin: 0px 0px 5px 5px;
    }
  }

  .childContainer {
    padding-left: 3px;
    a {
      text-decoration: none;

      p {
        display: flex;
        margin: 0px;
        flex-direction: row;
        align-items: center;
        padding: 3px;
        border-radius: 10px;
        &:hover {
          cursor: pointer;
          background-color: var(
            --dashboard-treeview-child-hover-background-color
          ) !important;
        }
        &.selected {
          cursor: pointer;
          .childName,
          .material-symbols-outlined {
            color: var(
              --dashboard-treeview-child-selected-hover-color
            ) !important;
          }
          background-color: var(
            --dashboard-treeview-child-background-color
          ) !important;
        }
        border-radius: 2px;
        .childName {
          padding: 3px;
          font-size: 13px;
          margin: 0px;
          color: black;
        }

        .material-symbols-outlined {
          font-size: 18px;
          color: #555;
          margin-right: 5px;
        }
      }
    }
  }
}

.userDataContainer {
  position: absolute;
  bottom: 0;
  width: inherit;
}

.matCardContainer {
  background-color: var(--dashboard-backgroundcolor) !important;
  margin: -10px;
  border-top: #555;

  .helperContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

    .active {
      background-color: #89b5fa;
    }

    .helperImage {
      background-size: cover;
      height: 45pxs;
      width: 45px;
      .avatar {
        height: 35px;
        width: 35px;
      }
    }

    .leftContainer {
      text-align: left;

      .matCardHeader {
        padding: 0px;
        margin: 0px;

        .mat-mdc-card {
          border: 1px solid red;
        }
        .helperName {
          font-size: 14px;
          padding: 0px;
          padding-top: 5px;
          padding-left: 5px;
        }

        .helperSubtitle {
          font-size: small;
          padding-top: 5px;
          margin-left: -10px;
        }
      }
    }

    .rightContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .rightIcon {
        color: gray;
        cursor: pointer;
      }
    }
  }
}
