<div class="edit-helper-main-container">
  <!-- Navbar -->
  <div class="edit-helper-navbar-container">
    <header>
      <div class="headingContainer">
        <div class="heading-left-container">
          <a class="material-symbols-outlined heading-icons"
            [routerLink]="'/dashboard/staff-management/helpers'">chevron_left</a>
          <h1 class="headingName">Edit Helper</h1>
        </div>
        <span class="material-symbols-outlined heading-icons">more_vert</span>
      </div>
    </header>
  </div>

  <div class="edit-helper-body-container" *ngIf="helperData; else skeleton">
    <!-- Stages -->
    <div class="edit-helper-stages-container">
      <div *ngFor="let c of editHelperSidebar" class="child-container">
        <a (click)="onChildClick(c.name)">
          <p class="child-inner-container" [class.selected]="selectedChild === c.name">
            <span class="material-symbols-outlined">{{ c.icon }}</span>
            <span class="childName">{{ c.name }}</span>
          </p>
        </a>
      </div>
    </div>
    <div class="edit-helper-form-container">
      <ng-container *ngIf="selectedChild === 'Helper Details'">
        <app-helperform [helperBackendData]="helperData"> </app-helperform>
      </ng-container>
      <!-- Footer Container -->
      <hr class="edit-helper-footer-horizontal-divider" />
      <div class="edit-helper-footer-button-container">
        <ng-container>
          <button (click)="saveButtonClicked()" class="save-button">
            <span class="material-symbols-outlined">save</span>
            <span style="margin-left: 8px;">{{ saveButton }}</span>
          </button>
        </ng-container>
      </div>
    </div>
  </div>

  <ng-template #skeleton>
    <div class="edit-helper-body-container">
      <div class="edit-helper-stages-container edit-helper-stages-container-skeleton">
        <div class="child-container">
          <ngx-skeleton-loader [theme]="{ 
            'border-radius': '5px',
            height: '30px',
            'margin-top':'-25px',
            'background-color': '#E0E0E0',
          }" />
          <ngx-skeleton-loader [theme]="{ 
            'border-radius': '5px',
            height: '30px',
            'background-color': '#E0E0E0',
            'margin-top': '-5px',
          }" />
        </div>
      </div>
      <div class="edit-helper-form-container">
        <ngx-skeleton-loader [theme]="{ 
          'border-radius': '10px',
          height: '15px', 
          width: '150px',
          'background-color': '#E0E0E0',
        }" />
        <br>
        <ngx-skeleton-loader [theme]="{ 
          'border-radius': '10px',
          height: '10px',
          width: '250px', 
          'margin-top': '-10px',
          'background-color': '#E0E0E0',
        }" />
        <br>
        <ngx-skeleton-loader appearance="circle"
          [theme]="{height: '100px', width: '100px', 'background-color': '#E0E0E0',}" />
        <br>
        <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7]">
          <ngx-skeleton-loader [theme]="{ 
          'border-radius': '10px',
          height: '10px',
          width: '130px', 
          'margin-top': '15px',
          'background-color': '#E0E0E0',
        }" />
          <ngx-skeleton-loader [theme]="{ 
          height: '30px', 
          'margin-top': '-10px',
          'background-color': '#E0E0E0',
        }" />
        </ng-container>
      </div>
    </div>
  </ng-template>
</div>
