.helperBodyContainer {
    display: flex;
    flex-direction: row;
    padding: 15px;
    height: calc(100vh - 180px);
    .helperListContainer {
        margin: 10px;
        width: 350px;
        text-align: center;
        border: 1px solid lightgray;
        border-radius: 6px;
        margin: 0px 10px;
        overflow-y: auto;
        scrollbar-width: none;
    }
    .helperDataContainer {
        margin: 10px;
        width: 1000px;
        text-align: center;
        border: 1px solid lightgray;
        border-radius: 6px;
        margin: 0px 10px;
        overflow-y: auto;
        scrollbar-width: none;
    }
}