// helper header 
.headingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 20px;
  padding-bottom: 0px;
  .headingName {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .material-symbols-outlined{
    cursor: pointer;
  }
}

.headingHortizantalRule {
border: none; 
height: 1px;
background-color: lightgray;
}

// helper filter 
.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .iconContainer {
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin: 10px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    .material-symbols-outlined {
      margin-top: 8px;
      font-size: 20px;
    }
  }
  .leftContainer {
    display: flex;
    flex-direction: row;
    .searchContainer {
      display: inline-flex;
      flex-direction: row;
      .searchInputContainer {
        input {
          margin-top: 6px;
          border: none;
          outline: none;
          width: 190px;
          padding-left: 10px;
        }
      }
    }
    .iconSearchContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: left;
      width: 250px;
      padding-left: 5px;
      text-align: center;
      .material-symbols-outlined {
        margin-top: 4px;
      }
    }
    .helperResultData {
      padding: 5px;
      padding-left: 0px;
      margin: 15px;
      margin-left: 0px;
      color: gray;
    }
  }
  .rightContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    a {
      text-decoration: none;
      .addHelperButton {
        background-color: blue;
        width: 120px;
        color: white;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        .material-symbols-outlined {
          margin-top: 2px;
          font-size: 20px;
        }
        p {
          color: white;
        }
      }
    }
  }
}


// helper body 
.helperBodyContainer {
  --helper-list-width: 30%;
  --helper-data-width: 70%;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 75vh;

  .helperListContainer {
    margin: 10px;
    width: var(--helper-list-width);
    text-align: center;
    border: 2px solid lightgray;
    border-radius: 6px;
    margin: 0px 10px;
    overflow-y: auto;
    scrollbar-width: none;
    .helperCardContainer {
      cursor: pointer;

      .matCardContainer {
        border: 0px;
        border-radius: 0;
        border-bottom: 1px solid lightgray;

        &:hover {
          background-color: var(
            --helperslist-container-hover-background-color
          ) !important;
        }
        
        &.selected {
          cursor: pointer;
          background-color: var(
            --helperslist-container-selected-background-color
          ) !important;
        }

        .helperContainer {
          @media screen and (max-width: 480px) {
            .matCardHeader,
            .rightContainer {
              display: none !important;
            }
          }

          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 5px 8px 0px 5px;

          .active {
            background-color: #89b5fa;
          }

          .helperImage {
            background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
            background-size: cover;
            height: 45px;
            width: 45px;
          }

          .leftContainer {
            text-align: left;

            .matCardHeader {
              padding: 0px;
              margin: 0px;

              .helperName {
                font-size: 14px;
                padding: 0px;
                padding-top: 5px;
                padding-left: 5px;
              }

              .helperSubtitle {
                font-size: small;
                padding-top: 5px;
                margin-left: -10px;
              }
            }
          }

          .rightContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .households {
              color: gray;
              font-size: smaller;
            }
          }
        }
      }
    }
  }

  .helperDataContainer {
    margin: 10px;
    width: var(--helper-data-width);
    text-align: center;
    margin: 0px 10px;
    overflow-y: auto;
    scrollbar-width: none;
  }
}


