<div class="helperBodyContainer">
  <div class="helperListContainer">
    <ng-container *ngFor="let helper of helpersData">
      <div class="helperCardContainer">
        <mat-card class="matCardContainer">
          <div class="helperContainer">
            <div class="leftContainer">
              <mat-card-header class="matCardHeader">
                <div
                  mat-card-avatar
                  class="helperImage"
                  [ngStyle]="{
                    'background-image': 'url(' + helper.photoUrl + ')',
                    'background-size': 'cover',
                    'background-position': 'center'
                  }"
                ></div>
                <mat-card-title class="helperName">{{
                  helper.name
                }}</mat-card-title>
                <mat-card-subtitle class="helperSubtitle">{{
                  helper.type
                }}</mat-card-subtitle>
              </mat-card-header>
            </div>
            <div class="rightContainer">
              <p class="households">{{ helper.totalHouseholds }} Households</p>
            </div>
          </div>
        </mat-card>
      </div>
    </ng-container>
  </div>
  <div class="helperDataContainer">
    <app-helperdata [helperData]="helperData"> </app-helperdata>
  </div>
</div>
