.add-helper-form-container {
  height: calc(90vh - 100px);
  margin: 30px;
  width: calc(80vw - 10px);
  overflow-y: scroll;

  .add-helper-footer-horizontal-divider {
    background-color: lightgray;
    height: 1px;
    width: 100%;
    margin: 20px 0;
    border: none;
  }

  .add-helper-footer-button-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    button {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 5px;
      text-align: center;
      border-width: 1px;
      border-color: gray;
      margin: 10px;
      padding: 5px 20px;
      span {
        padding: 0px;
        margin: 0px;
      }
    }
    .previousButton {
      color: black;
      background-color: white;
    }
    .nextButton {
      color: white;
      background-color: black;
    }
    .add-helper-final-stage-submit-button {
      background-color: blue;
      color: white;
    }
  }
  .form-heading {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  }
  .form-description {
    font-size: 12px;
    margin-top: -15px;
    color: gray;
  }

  .photo-upload-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    border: 2px dashed #7587f1;
    color: var(--dashboard-treeview-child-hover-color);
    background-color: var(--dashboard-treeview-child-background-color);
    height: 80px;
    width: 80px;
    padding: 10px;
    margin: 10px 0px;
    label {
      cursor: pointer;
    }
  }
  .photo-upload-description {
    font-size: 12px;
    margin-top: -15px;
    color: gray;
  }
  .kyc-document-upload-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border: 2px dashed blue;
    height: 80px;
    width: 80px;
    padding: 10px;
    margin: 10px 0px;
    cursor: pointer;
  }
  .type-of-service-container {
    .type-of-service-form-field {
      border-radius: 10px;
    }
  }
  .field-container {
    margin-top: 15px;
  }
  .form-container {
    width: 100%;
    background-color: white !important;
  }
  .input-container {
    width: 100%;
    padding: 10px;
    border-color: gray;
    border-radius: 10px;
  }
  .option-container {
    width: 100%;
    padding: 10px;
    border-color: gray;
    border-radius: 10px;
  }
  .phone-number-container {
    display: flex;
    flex-direction: row;
    .countrycode-container {
      width: 100px;
    }
    .phone-number-value-container {
      width: 100%;
    }
  }
}
