.add-helper-form-container {
  .add-helper-footer-horizontal-divider {
    background-color: lightgray;
    height: 1px;
    width: 100%;
    margin: 20px 0;
    border: none;
  }

  .add-helper-footer-button-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    button {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 5px;
      text-align: center;
      border-width: 1px;
      border-color: gray;
      margin: 10px;
      padding: 5px 20px;
      span {
        padding: 0px;
        margin: 0px;
      }
    }
    .previousButton {
      color: black;
      background-color: white;
    }
    .nextButton {
      color: white;
      background-color: black;
    }
    .add-helper-final-stage-submit-button {
      background-color: blue;
      color: white;
    }
  }
  .form-heading {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  }
  .form-description {
    font-size: 12px;
    margin-top: -15px;
    color: gray;
  }

  .photo-upload-main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    .photo-upload-icon-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      border-radius: 50%;
      border: 2px dashed #7587f1;
      background-color: var(--dashboard-treeview-child-background-color);
      height: 80px;
      width: 80px;
      padding: 10px;
      margin: 10px 10px;
      label {
        cursor: pointer;
      }
    }
    .photo-uploaded-icon-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      border-radius: 50%;
      border: 2px dashed #7587f1;
      background-color: var(--dashboard-treeview-child-background-color);
      height: 100px;
      width: 100px;
      margin: 10px 0px;
    }
    .photo-uploaded-active {
      display: flex;
    }
    .photo-uploaded-inactive {
      display: none;
    }
  }
  .photo-upload-description {
    margin: 0px 10px;
    font-size: 12px;
    font-weight: bold;
    color: gray;
  }
  .photo-upload-error {
    color: red;
    font-size: 12px;
    font-weight: bold;
  }
  
  .kyc-document-upload-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border: 2px dashed blue;
    height: 80px;
    width: 80px;
    padding: 10px;
    margin: 10px 0px;
    cursor: pointer;
  }

  .kyc-document-uploaded-container {display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: #d5e1fb;
    height: 80px;
    width: 80px;
    padding: 10px;
    margin: 10px 0px;
    cursor: pointer;
    .kyc-document-uploaded-container-description {
      display: inline-flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      .kyc-document-uploaded-file-name {
        color: black;
      }
  }
  .kyc-document-uploaded-file-size {
    color: gray;
    font-weight: bold;
  }
  }
  .type-of-service-container {
    .type-of-service-form-field {
      border-radius: 10px;
    }
  }
  .field-container {
    margin-top: 15px;
    .asterisk {
      color: red;
    }
  }
  .alert-error-message {
    color: red;
  }
  .form-container {
    width: 100%;
    background-color: white !important;
  }
  .input-container {
    width: 100%;
    padding: 10px;
    border-color: gray;
    border-radius: 10px;
  }
  .option-container {
    width: 100%;
    padding: 10px;
    border-color: gray;
    border-radius: 10px;
  }
  .phone-number-container {
    display: flex;
    flex-direction: row;
    .countrycode-container {
      width: 100px;
    }
    .phone-number-value-container {
      width: 100%;
    }
  }
}


.custom-input {
  border: 1px solid #ced4da;
  min-height: 33px;
  border-radius: 4px;
  padding-left: 10px;
  width: 98%;
  line-height: 1.5;
}

